<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DeltaCompressionDotNet" version="1.1.0" targetFramework="net472" />
  <package id="Dragon6.API" version="2021.1217.52" targetFramework="net472" />
  <package id="Dragon6.API.Modern" version="2021.827.3" targetFramework="net472" />
  <package id="DragonFruit.Data" version="2022.324.0" targetFramework="net472" />
  <package id="DragonFruit.Data.Serializers.Newtonsoft" version="2022.324.0" targetFramework="net472" />
  <package id="DragonFruit.Six.Api" version="2022.521.0" targetFramework="net472" />
  <package id="DragonFruit.Six.Locale" version="2021.1105.32" targetFramework="net472" />
  <package id="Extended.Wpf.Toolkit" version="4.3.0" targetFramework="net472" />
  <package id="JetBrains.Annotations" version="2022.1.0" targetFramework="net472" />
  <package id="MaterialDesignColors" version="2.0.4" targetFramework="net472" />
  <package id="MaterialDesignThemes" version="4.3.0" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.31" targetFramework="net472" />
  <package id="Mono.Cecil" version="0.11.2" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="Nito.AsyncEx.Coordination" version="5.1.2" targetFramework="net472" />
  <package id="Nito.AsyncEx.Tasks" version="5.1.2" targetFramework="net472" />
  <package id="Nito.Collections.Deque" version="1.1.1" targetFramework="net472" />
  <package id="Nito.Disposables" version="2.2.1" targetFramework="net472" />
  <package id="Notifications.Wpf" version="0.1.1" targetFramework="net472" />
  <package id="NuGet.CommandLine" version="5.8.1" targetFramework="net472" developmentDependency="true" />
  <package id="PixiEditor.ColorPicker" version="3.3.1" targetFramework="net472" />
  <package id="RestSharp" version="107.3.0" targetFramework="net472" />
  <package id="SharpCompress" version="0.17.1" targetFramework="net472" />
  <package id="Splat" version="1.6.2" targetFramework="net472" />
  <package id="squirrel.windows" version="1.9.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="1.7.1" targetFramework="net472" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="6.0.0" targetFramework="net472" />
  <package id="System.Text.Json" version="5.0.0" targetFramework="net472" />
  <package id="System.Threading.Tasks" version="4.3.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="WindowsAPICodePack" version="1.1.2" targetFramework="net472" />
  <package id="WPFExtensions" version="1.0.0" targetFramework="net472" />
</packages>